<div class="container padbottom">
	<div id="content">
		<div id="mainhead" style="margin-bottom:0;">{{title}}</div>
		<hr class="headingunderline"><br>

		<form>
			
		<input type ="button" style="margin:20px;min-width:300px;min-height:100px;border-radius:50px;font-size:1.2em;" value="Manage Issuers" onclick="window.location.href=cfg.proxy_path+'/issuers/manage';"/>

		<input type ="button" style="margin:20px;min-width:300px;min-height:100px;border-radius:50px;font-size:1.2em;" value="Manage Endorsers" onclick="window.location.href=cfg.proxy_path+'/endorsers/manage';"/>
		
		<input type ="button" style="margin:20px;min-width:300px;min-height:100px;border-radius:50px;font-size:1.2em;" value="Manage Badges" onclick="window.location.href=cfg.proxy_path+'/badges/manage';"/>
		
		<input type ="button" style="margin:20px;min-width:300px;min-height:100px;border-radius:50px;font-size:1.2em;" value="Manage Alignments" onclick="window.location.href=cfg.proxy_path+'/alignments/manage';"/>

		<br><br>
		</form>
	</div>
</div> 