
<script>
document.addEventListener('DOMContentLoaded', function() {
	var sections={{{sections}}};
	var menuitems = "";
	for (var name in sections) {
		if (sections.hasOwnProperty(name)) {
		   	var path = sections[name];
		   	
		   	menuitems += '<input type ="button" style="margin:20px;min-width:300px;min-height:100px;border-radius:50px;font-size:1.2em;" value="'+name+'" onclick="window.location.href=\''+path+'\'"/>';
		}
	}	
	document.getElementById('menuitemsdiv').innerHTML = menuitems;
});
</script>


<div class="container padbottom">
	<div id="content">
		<div id="mainhead" style="margin-bottom:0;">{{title}}</div>
		<hr class="headingunderline">
		<label style="font-size:12pt; line-height:100%">Badges can have references to other items. There must be an issuer to allocate in the badge. 
		There can be alignments and events on a badge. Events can have organizer and sponsor organizations.</label>
		<br><br>
	</div>
		
	<center><div style="width:90%" id="menuitemsdiv"></div></center>

	<br><br>
</div> 