

<div class="container padbottom">
	<div id="contentleft">
		<center><div id="mainhead" style="margin-bottom:0;">QualiChain Web Service API</div></center>
		<hr class="headingunderline">	

		<p>This api is designed to allow you to create your own interfaces for issuing and managing QualiChain badges.</p><br>

		<div class="clearit"></div>
		<div class="slink"><img src="/badges/images/blank.png" title="Alignment" width="16" height="18"/><a href="/alignments/docs"> <b>Alignments</b></a></div>
		<p style="margin-left:30px;color:#555;">The <a href="/alignments/docs">Alignments</a> section of the API - lets the user create, update, delete, manage and list Alignments.</p>
		<div class="clearit"></div>
		<div class="slink"><img src="/badges/images/blank.png" title="Assertions" width="16" height="18" /><a href="/assertions/docs"> <b>Assertions</b></a></div>
		<p style="margin-left:30px;color:#555;">The <a href="/assertions/docs">Assertions</a> section of the API - lets the user validate, issue, revoke, endorse, create, update, delete and list badge issuances. It also lets the user add, remove and list endorsers. </p>
		<div class="clearit"></div>
		<div class="slink"><img src="/badges/images/blank.png" title="Badges" width="16" height="18" /><a href="/badges/docs"> <b>Badges</b></a></div>
		<p style="margin-left:30px;color:#555;">The <a href="/badges/docs">Badges</a> section of the API - lets the user view, manage, list, create, update, delete badges. It also lets the user add, remove and list badge alignments. </p>
		<div class="clearit"></div>
		<div class="slink"><img src="/badges/images/blank.png" title="Endorsers" width="16" height="18" /><a href="/endorsers/docs"> <b>Endorsers</b></a></div>
		<p style="margin-left:30px;color:#555;">The <a href="/endorsers/docs">Endorsers</a> section of the API - lets the user manage, list, create, update and delete Endorsers. It also lets the Endorsers complete their registration.</p>
		<div class="clearit"></div>
		<div class="slink"><img src="/badges/images/blank.png" title="Evidence" width="16" height="18" /><a href="/evidence/docs"> <b>Evidence</b></a></div>
		<p style="margin-left:30px;color:#555;">The <a href="/evidence/docs">Evidence</a> section of the API - lets the user list, create, update and delete evidence of the badges.</p>
		<div class="clearit"></div>
		<div class="slink"><img src="/badges/images/blank.png" title="Issuers" width="16" height="18" /><a href="/issuers/docs"> <b>Issuers</b></a></div>
		<p style="margin-left:30px;color:#555;">The <a href="/issuers/docs">Issuers</a> section of the API - lets users manage, list, create, update and delete the Issuers. It also lets the Issuers complete their registration. </p>
		<div class="clearit"></div>
		<div class="slink"><img src="/badges/images/blank.png" title="Recipients" width="16" height="18" /><a href="/recipients/docs"> <b>Recipients</b></a></div>
		<p style="margin-left:30px;color:#555;">The <a href="/recipients/docs">Recipients</a> section of the API - lets the user manage, list, create, update and delete Recipients. It also lets the Recipients complete their registration.</p>
		<div class="clearit"></div>
		<div class="slink"><img src="/badges/images/blank.png" title="Users" width="16" height="18" /><a href="/users/docs"> <b>Users</b></a></div>
		<p style="margin-left:30px;color:#555;">The <a href="/users/docs">Users</a> section of the API - lets the user sign in and change their password.</p>
		<div class="clearit"></div>
		<div class="slink"><img src="/badges/images/blank.png" title="Merkle" width="16" height="18" /><a href="/merkle/docs"> <b>Merkle</b></a></div>
		<p style="margin-left:30px;color:#555;">The <a href="/merkle/docs">Merkle</a> section of the API - lets user secure data using merkle hashing.</p>
		<div class="clearit"></div>
		<div class="slink"><img src="/badges/images/blank.png" title="Utilities" width="16" height="18" /><a href="/merkle/docs"> <b>Util</b></a></div>
		<p style="margin-left:30px;color:#555;">The <a href="/util/docs">Util</a> section of the API - lets user call utility functios like get block and get transaction etc...</p>
		<br><br>
		<div style="font-size: 0.8em">If you have any issues using this API please email:<a href="mailto:michelle.bachler@open.ac.uk?subject=ISWS Summer School">michelle.bachler@open.ac.uk</a></div>
	</div>
</div>  