
<script src="/javascripts/routes-admin.js"></script>
<script src="/javascripts/docsconfig.js"></script>
<script src="/javascripts/express-api-doc.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/express-api-doc.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<div class="container padbottom"></div>