<div class="container padbottom" style="width:100%;padding-left:0px;padding-right:0px;">
	<div class="edu_banner">
		<div class="edu_bannercentre"><img src="/images/banner_centre.png" height="300px" alt="Badge Collage" title="Badge Collage" /></div>
		<div class="edu_bannertext">Institute of Coding Badges</div>
	</div>
	<!--<div class="edu_backpic">
		<div class="edu_backcontent">Institute of Coding Certification</div>
	</div>	-->

		<!-- INTRO -->	
		<!--div class="edu_topholder">
			<div class="edu_innerholder">
				<div style="float:left;margin-right:40px;"><img src="/images/ioc-logo.png" width="283" alt="IoC logo" title="IoC logo"/></div>
				<div style="overflow:hidden;">
					<p>IoC Badges are a crucial element of our toolbox to transform computing education. This form of micro accreditation allows us to give credit 
					for learning wherever and whenever it occurs. We have already issued badges across a range of IoC learning events as well as providing a 
					fine-grained credit map for our new IoC Computing Accreditation Standard. </p>
					<p>Our use of blockchains for recording purposes mean that IoC badges can be verified easily and securely without loss of privacy.</p>
				</div>
			</div>
		</div -->
		
		<!-- OUR BADGING SYSTEM -->	
		<div class="edu_holder edu_holder_w">
			<div class="edu_innerholder">
				<div class="eh_pic"><img src="/images/blockchain_on_uk.png" style="width:100%" alt="Blockchain throughout UK" title="Blockchain throughout UK"/></div>
				<div class="eh_txt">
					<span class="edu_subhead">IoC Blockchain-verified Badges</span><br><br>
					<p>IoC Badges are a crucial element of our toolbox to transform computing education. This form of micro accreditation allows us to give credit 
					for learning wherever and whenever it occurs. We have already issued badges across a range of IoC learning events as well as providing a 
					fine-grained credit map for our new IoC Computing Accreditation Standard. </p>
					<p>Our use of blockchains for recording purposes mean that IoC badges can be verified easily and securely without loss of privacy.</p>

					<p>We are using the Open Badges specification as the foundation for the badges issued through our badging API and website. 
					We have extended the Open Badges Specification to enable blockchain token-based verification of Badges. 
					In addition, IoC badges are aligned to a new accreditation standard we are developing based on the SFIA model.</p>
				</div>
			</div>
		</div>

		<!-- OPEN BADGES -->	
		<div class="edu_holder edu_holder_b">
			<div class="edu_innerholder">
				<div class="eh_pic2"><img src="/images/ob_anatomy.png" width="400" alt="Open badges anatomy" title="Open badges anatomy"/></div>
				<span class="edu_subhead">What is an Open Badge?</span><br><br>
				<p><i>"Open Badges are verifiable, portable digital badges with embedded metadata about skills and achievements. They comply with the Open Badges Specification and are shareable across the web.</i></p>
				<p><i>Each Open Badge is associated with an image and information about the badge, its recipient, the issuer, and any supporting evidence. 
				All this information may be packaged within a badge image file that can be displayed via online CVs and social networks. 
				Thousands of organizations across the world issue badges in accordance with the <a href="https://www.imsglobal.org/sites/default/files/Badges/OBv2p0Final/index.html">Open Badges 
				Specification</a>, from non-profits to major employers to educational institutions at all levels."</i><br>- openbadges.org</i><br><br>For more details visit <a href="https://openbadges.org/get-started/">the Open Badges website.</a></p>
			</div>
		</div>

		<!-- ACCREDITATION -->	
		<div class="edu_holder edu_holder_w">
			<div class="edu_innerholder">
				<span class="edu_subhead">The new IoC Accreditation standard based on SFIA</span><br><br>
				<div class="eh_pic"><img src="/images/sfia_logo.png" width="283" alt="SFIA logo" title="SFIA logo"/></div>
				<div class="eh_txt">
					<p>The <a href="https://institute-of-coding.github.io/accreditation-standard/standard/standard/">Institute of Coding (IoC) Accreditation standard</a> aims to create a new way to develop the digital skills that one will need at work and beyond. 
					It is codesigned with the industry to create a new standard that will tackle the digital skills gap. 
					The foundation of the IoC accreditation standard is defined in terms of micro badges for knowledge and competencies in SFIA skills, 
					that IoC issued Open Badges will align to.</p>
					<p>To view and explore the current set of IoC SFIA micro badges please visit our <a href="https://ioc.kmi.open.ac.uk">IoC Alignment website</a>.</p>
					<p>"The Skills Framework for the Information Age (SFIA) is a model for describing and managing skills and competences for professional working in Information and Communication Technology (ICT), software engineering and digital transformation. This is essentially a global common language for describing skills and competencies in the digital world" - Wikipedia.</p>
					<p>For more information visit: <a href="https://www.sfia-online.org/">SFIA</a></p>
				</div>
			</div>
		</div>
		
		
		<!-- USE CASES -->	
		<div class="edu_holder edu_holder_b">
			<div class="edu_innerholder">
				<span class="edu_subhead">Some examples of our badges in use</span><br><br>
				<ul class="edu_list">
					<li class="edu_list-item" style="position:relative;background-color:#6d85d2">
						<div class="edu_list-content">
							<img src="/images/workshop5.png" width="200" alt="Image of Students" title="Image of Students" class="edu_circle"/>
							<img src="/images/badges/oucomputing/superai2019.png" width="120" alt="The Open University Badge Example" title="The Open University Badge Example" style="margin-bottom:10px;"/>
							<div class="edu_exhead"><span style="color:white">The Open University</span> Workshop</div><br>
							The first OU workshop to engage with the community and industry was a timely and well received Introduction to Artificial Intelligence, with over 45 participants from a variety of backgrounds.
							<br><a href="https://instituteofcoding.open.ac.uk/an-introduction-to-artificial-intelligence-workshop/"><div class="edu_subbut_e">Read More...</div></a>
						</div>
					</li>
					<li class="edu_list-item" style="background-color:#bf5f5a">
						<div class="edu_list-content">
							<img src="/images/workshop1.png" width="200" alt="Image of Students" title="Image of Students" class="edu_circle"/>
							<img src="/images/badges/exeter/artificial_intelligence.png" width="120" alt="University of Exeter Badge Example" title="University of Exeter Badge Example" style="margin-bottom:10px;"/>
							<div class="edu_exhead"><span style="color:white">University of Exeter</span> Summer School</div><br>
							In 2018, the University of Exeter hosted the first Institute of Coding Summer School offering undergraduate and postgraduate social science and humanities students the opportunity to learn digital programming skills.
							<br><a href="https://instituteofcoding.org/news/case-studies/2018/08/summer-schools-by-the-university-of-exeter/"><div class="edu_subbut_e">Read More...</div></a>
						</div>  
					</li>
					<li class="edu_list-item" style="background-color:#a263a2">
						<div class="edu_list-content">
							<img src="/images/workshop2.png" width="200" alt="101 logo" title="101 logo" class="edu_circle"/>
							<img src="/images/badges/sunderland/coding-101-2019.png" width="120" alt="University of Sunderland Badge Example" title="University of Sunderland Badge Example" style="margin-bottom:10px;"/>
							<div class="edu_exhead"><span style="color:white">University of Sunderland</span> Coding 101</div><br>
							A fun taster session for anyone in business, or a graduate, student or member of staff at the University of Sunderland interested in learning the basics of coding.
							<br><a href="https://www.eventbrite.co.uk/e/coding-101-curious-about-coding-tickets-74676179463"><div class="edu_subbut_e">Read More...</div></a>						 
						</div>
					</li>
					<li class="edu_list-item" style="background-color:#5b925f">
						<div class="edu_list-content">
							<img src="/images/workshop4.png" width="200" alt="Image of a computer user" title="Image of a computer user" class="edu_circle"/>
							<img src="/images/badges/qmu/qmu-ioc-badge-2019.png" width="120" alt="Queen Mary University Badge Example" title="Queen Mary University Badge Example" style="margin-bottom:10px;"/>			
							<div class="edu_exhead"><span style="color:white">Queen Mary University of London</span> Bootcamp</div><br>
							This was a three day intensive coding bootcamp on the fundamentals of computer programming, taught using Processing (a dialect of Java).
							<br><a href="http://eecs.qmul.ac.uk/ioc/short-courses-and-events/getting-started-with-coding/"><div class="edu_subbut_e">Read More...</div></a>						 
						</div>
					</li>
				</ul>
			</div>
		</div>
<!--		
		<div class="edu_holder edu_holder_b">
			<span class="edu_subhead">Some examples of our badges in use</span><br><br>
			<div class="edu_badgeexample" style="background-color:#9f3f38">
				<img src="/images/badges/oucomputing/superai2019.png" width="120" alt="Open University Badge Example" title="Open University Badge Example" style="float:right;clear:both;"/>
				<img src="/images/workshop3.png" width="200" alt="Picture" title="Picture" class="edu_circle" style="position:absolute;bottom:20px;right:20px;margin-left:50px;"/>
				<div class="edu_exhead"><span style="color:white">Open University</span> Workshop</div><br>
				The first OU workshop to engage with the community and industry was a timely and well received Introduction to Artificial Intelligence, with over 45 participants from a variety of backgrounds.
				<br><a href="https://instituteofcoding.open.ac.uk/an-introduction-to-artificial-intelligence-workshop/"><div class="edu_subbut_e">Read More...</div></a>
			</div>
			<div class="edu_badgeexample" style="background-color:#4b63b0">
				<img src="/images/badges/exeter/artificial_intelligence.png" width="120" alt="Exeter University Badge Example" title="Exeter University Badge Example" style="float:right;"/>
				<img src="/images/workshop1.png" width="200" alt="Picture" title="Picture" class="edu_circle" style="float:right;"/>
				<div class="edu_exhead"><span style="color:white">Exeter University</span> Summer School</div><br>
				In 2018, the University of Exeter hosted the first Institute of Coding Summer School offering undergraduate and postgraduate social science and humanities students the opportunity to learn digital programming skills.
				<br><a href="https://instituteofcoding.org/news/case-studies/2018/08/summer-schools-by-the-university-of-exeter/"><div class="edu_subbut_e">Read More...</div></a>
			</div>
			<div class="edu_badgeexample" style="background-color:#39703d">
				<img src="/images/badges/sunderland/coding-101-2019.png" width="120" alt="Sunderland University Badge Example" title="Sunderland University Badge Example" style="float:right;"/>
				<img src="/images/workshop2.png" width="200" alt="Picture" title="Picture" class="edu_circle" style="float:right;"/>
				<div class="edu_exhead"><span style="color:white">Sunderland University</span> Coding 101</div><br>
				A fun taster session for anyone in business, or a graduate, student or member of staff at the University of Sunderland interested in learning the basics of coding.
				<br><a href="https://www.eventbrite.co.uk/e/coding-101-curious-about-coding-tickets-74676179463"><div class="edu_subbut_e">Read More...</div></a>
			</div>
			<div class="edu_badgeexample" style="background-color:#804180">
				<img src="/images/badges/qmu/qmu-ioc-badge-2019.png" width="120" alt="Queen Mary University Badge Example" title="Queen Mary University Badge Example" style="float:right;"/>			
				<img src="/images/workshop4.png" width="200" alt="Picture" title="Picture" class="edu_circle" style="float:right;"/>
				<div class="edu_exhead"><span style="color:white">Queen Mary University</span> Bootcamp</div><br>
				This was a three day intensive coding bootcamp on the fundamentals of computer programming, taught using Processing (a dialect of Java).
				<br><a href="http://eecs.qmul.ac.uk/ioc/short-courses-and-events/getting-started-with-coding/"><div class="edu_subbut_e">Read More...</div></a>
			</div>
		</div>
-->
		<!--<div class="edu_holder edu_holder_b">
			<span class="edu_subhead">Some examples of our badges in use</span><br><br>
			<div class="edu_badgeexample" style="background-color:#9f3f38">
				<img src="/images/workshop3.png" width="200" alt="Picture" title="Picture" class="edu_circle" style="float:right;"/>
				<div class="edu_exhead"><span style="color:white">Open University</span> Workshop</div><br>
				The first OU workshop to engage with the community and industry was a timely and well received Introduction to Artificial Intelligence, with over 45 participants from a variety of backgrounds.
				<br><a href="https://instituteofcoding.open.ac.uk/an-introduction-to-artificial-intelligence-workshop/"><div class="edu_subbut_e">Read More...</div></a>
			</div>
			<div class="edu_badgeexample" style="background-color:#4b63b0">
				<img src="/images/workshop1.png" width="200" alt="Picture" title="Picture" class="edu_circle" style="float:right;"/>
				<div class="edu_exhead"><span style="color:white">Exeter University</span> Summer School</div><br>
				In 2018, the University of Exeter hosted the first Institute of Coding Summer School offering undergraduate and postgraduate social science and humanities students the opportunity to learn digital programming skills.
				<br><a href="https://instituteofcoding.org/news/case-studies/2018/08/summer-schools-by-the-university-of-exeter/"><div class="edu_subbut_e">Read More...</div></a>
			</div>
			<div class="edu_badgeexample" style="background-color:#39703d">
				<img src="/images/badges/sunderland/coding-101-2019.png" width="200" alt="Sunderland University Badge Example" title="Sunderland University Badge Example" style="float:right;"/>
				<img src="/images/workshop2.png" width="200" alt="Picture" title="Picture" class="edu_circle" style="float:right;"/>
				<div class="edu_exhead"><span style="color:white">Sunderland University</span> Coding 101</div><br>
				A fun taster session for anyone in business, or a graduate, student or member of staff at the University of Sunderland interested in learning the basics of coding.
				<br><a href="https://www.eventbrite.co.uk/e/coding-101-curious-about-coding-tickets-74676179463"><div class="edu_subbut_e">Read More...</div></a>
			</div>
			<div class="edu_badgeexample" style="background-color:#804180">
				<img src="/images/workshop4.png" width="200" alt="Picture" title="Picture" class="edu_circle" style="float:right;"/>
				<div class="edu_exhead"><span style="color:white">Queen Mary University</span> Bootcamp</div><br>
				This was a three day intensive coding bootcamp on the fundamentals of computer programming, taught using Processing (a dialect of Java).
				<br><a href="http://eecs.qmul.ac.uk/ioc/short-courses-and-events/getting-started-with-coding/"><div class="edu_subbut_e">Read More...</div></a>
			</div>
		</div>-->
		<!--<div class="edu_holder edu_holder_b">
			<table id="edu_table">
				<tr>
					<th colspan="2">
						<span class="edu_subhead">Some examples of our badges in use</span>
					</th>
				</tr>
				<tr>
					<td style="background-color:#9f3f38">
						<img src="/images/workshop3.png" width="200" alt="Picture" title="Picture" class="edu_circle" style="float:right;"/>
						<div class="edu_exhead"><span style="color:white">Open University</span> Workshop</div><br>
						The first OU workshop to engage with the community and industry was a timely and well received Introduction to Artificial Intelligence, with over 45 participants from a variety of backgrounds.
						<br><a href="https://instituteofcoding.open.ac.uk/an-introduction-to-artificial-intelligence-workshop/"><div class="edu_subbut_e">Read More...</div></a>
					</td>
					<td style="background-color:#4b63b0">
						<img src="/images/workshop1.png" width="200" alt="Picture" title="Picture" class="edu_circle" style="float:right;"/>
						<div class="edu_exhead"><span style="color:white">Exeter University</span> Summer School</div><br>
						In 2018, the University of Exeter hosted the first Institute of Coding Summer School offering undergraduate and postgraduate social science and humanities students the opportunity to learn digital programming skills.
						<br><a href="https://instituteofcoding.org/news/case-studies/2018/08/summer-schools-by-the-university-of-exeter/"><div class="edu_subbut_e">Read More...</div></a>
					</td>
				</tr>
				<tr>
					<td style="background-color:#39703d">
						<tr>
							<td>
								<div class="edu_exhead"><span style="color:white">Sunderland University</span> Coding 101</div><br>
								A fun taster session for anyone in business, or a graduate, student or member of staff at the University of Sunderland interested in learning the basics of coding.
								<br><a href="https://www.eventbrite.co.uk/e/coding-101-curious-about-coding-tickets-74676179463"><div class="edu_subbut_e">Read More...</div></a>
							</td>
							<td>
								<img src="/images/badges/sunderland/coding-101-2019.png" width="200" alt="Sunderland University Badge Example" title="Sunderland University Badge Example"/><br>
								<img src="/images/workshop2.png" width="200" alt="Picture" title="Picture" class="edu_circle"/>
							</td>
						</tr>
					</td>
					<td style="background-color:#804180">
						<img src="/images/workshop4.png" width="200" alt="Picture" title="Picture" class="edu_circle" style="float:right;"/>
						<div class="edu_exhead"><span style="color:white">Queen Mary University</span> Bootcamp</div><br>
						This was a three day intensive coding bootcamp on the fundamentals of computer programming, taught using Processing (a dialect of Java).
						<br><a href="http://eecs.qmul.ac.uk/ioc/short-courses-and-events/getting-started-with-coding/"><div class="edu_subbut_e">Read More...</div></a>
					</td>
				</tr>
			</table>
		</div>
		-->

		<!-- CONTACT US -->	
		<div class="edu_holder edu_holder_w">
			<div class="edu_innerholder">
				<span class="edu_subhead">Contact us if you want to be involved...</span><br><br>
				<p>The Institute of Coding (IoC) is committed to supporting Universities and organizations through the process of designing, managing and issuing their IoC badges. We will work collaboratively with you to setup and run badging for IoC related events.<br>
				For more detailed information on what is involved in Issuing IoC badges, please read our <a href="/issuers/information/">Badge Issuer documentation.</a></p>
				<p>If you are interested in issuing IoC Badges for an event you are running, please email us.</p><br>
				<a href="mailto:ioc-badges@open.ac.uk?subject=I'm interested in issuing IoC Badges"><div class="edu_subbut">Email Us</div></a>
			</div>
		</div>
</div>