
	<div class="container padbottom">
		<div id="content">
			<div id="mainhead" style="margin-bottom:0;">Error</div>
			<hr class="headingunderline">			
			<div class="maintext">{{ message }}</div>
		</div>
	</div>