
<script src="/javascripts/homepage.js"></script>

<div class="container padbottom">
	<div id="content">
		<div id="mainhead" style="margin-bottom:0;">QualiChain Certification</div>
		<hr style="height:6px; border:none; color:#20a959; background-color:#20a959; width:100%; border-radius:3px;"><br>
		<br>
		<div id="homebuttons" style="width:100%"></div>		
	</div>
</div>