
<script src="/javascripts/homepage.js"></script>

<div class="container padbottom" style="width:100%;padding-left:0px;padding-right:0px;">
	<div class="edu_holder-buttons edu_holder_w">
		<div class="edu_innerholder">
			<div id="homebuttons"></div>	
		</div>
	</div>

	<div class="home_backpic">
		<div class="home_backpic_image" style="margin-top:-30px;padding-top:0px;"><img src="/images/blockchain_on_uk.png" width="250"/></div>
		<div class="home_backpic_image"><img src="/images/workshop1.png"/></div>
		<div class="home_backpic_image"><img src="/images/workshop5.png"/></div>
		<!-- div class="home_backpic_image"><img src="/images/workshop4.png"/></div -->
		<div class="home_backpic_image" style="margin-top:-30px;padding-top:0px;"><img src="/images/ob_anatomy_forblueback.png" width="300"/></div>
	</div>
	
	<div class="edu_holder edu_holder_w">
		<div class="edu_innerholder">
			<div class="pagelayout">
				<p>This website provides a service for issuing, viewing and validating badges.<br>It supports three types of end users:</p>
				<div class="yellowindent" style="overflow:auto;">
					<div class="innerfrontbutholder">
						<a href="/educators" style="text-decoration:none;">
						<div class="innerfrontbut" style="width:100%;margin:0 auto;margin-bottom:10px;">Educators</div>
						</a>
						<div class="innerfronttxt" style="vertical-align:middle;">Educators wanting to issue badges for QualiChain related events. For more detailed issuing information read our <a href="/issuers/">Badge Issuer documentation.</a></div>
					</div>
					<div class="innerfrontbutholder">
						<a href="/badges/portfolio" style="text-decoration:none;width:100%;">
						<div class="innerfrontbut" style="width:100%;margin:0 auto;margin-bottom:10px;">Learners</div>
						</a>
						<div class="innerfronttxt" style="vertical-align:middle;">Learners who want to view and download the badges they have been issued.</div>
					</div>
					<!--<div style="clear:both;margin-top:40px;"></div>-->
					<div class="innerfrontbutholder">
						<a href="/badges/validation" style="text-decoration:none;width:100%;">
						<div class="innerfrontbut" style="width:100%;margin:0 auto;margin-bottom:10px;">Badge Validators</div>
						</a>
						<div class="innerfronttxt" style="vertical-align:middle;">Badge Validators who want to check that a given badge they have been presented with is a valid QualiChain badge.</div>
					</div>
				</div>
				<p>We are committed to supporting Universities and organizations through the process of designing, managing and issuing their badges. We will work collaboratively with organizations to setup and run badging for events.</p>
				<p>
				The services we provide are a work in progress and new functionality is being added progressively.<br>
				If you have any requirements not currently met by our services, please feel free to discuss them with us. We want to ensure the service meets your needs.
				</p>
				<a href="mailto:ioc-badges@open.ac.uk?subject=Qualichain Badges new Requirements"><div class="edu_subbut">Email Us</div></a>
			</div>
		</div>
	</div>
</div>