<div class="container padbottom">
	<div id="content">
		<div id="mainhead" style="margin-bottom:0;">Information for IoC Badge Recipients</div>
		<hr class="headingunderline"><br>

		<img id="printbutton" style="float:right;cursor:pointer;" src="/images/printbut.png" height="33" onclick="window.print();" alt="Print Page" title="Print Page" />
		<a href="/pdf/recipients/information"><img id="printbutton" style="float:right;cursor:pointer;margin-right:10px;" src="/images/pdfbut.png" height="33" alt="Download PDF" title="Download PDF" /></a>

		<div class="pagelayout">
			<div class="infosubhead">Contents<br></div>
			<div id="infocontentslist">
				<strong><a href="#what">IoC badges</a></strong><br>
				<div style="margin-left:20px;">
				<a href="#c_badges">What is an Open Badge?</a><br>
				<a href="#c_uses">Badge Uses</a><br>
				<a href="#c_yourbadges">Your IoC Badges</a><br>
				<a href="#c_validators">Badge Validation</a><br>
				</div>
			</div>
			<br>
			<div class="infosubhead"><a name="c_badges"></a>What is an Open Badge?</div>
			<img src="/images/ob_anatomy.png" id="infoimage" alt="Open badges anatomy" title="Open badges anatomy"/><br>
			<span class="infocap">Figure 1 – Anatomy of an Open Badge</span><br>			
			<p><i>"Open Badges are verifiable, portable digital badges with embedded metadata about skills and achievements. They comply with the Open Badges Specification and are shareable across the web.</i></p>
			<p><i>Each Open Badge is associated with an image and information about the badge, its recipient, the issuer, and any supporting evidence. 
			All this information may be packaged within a badge image file that can be displayed via online CVs and social networks. 
			Thousands of organizations across the world issue badges in accordance with the <a href="https://www.imsglobal.org/sites/default/files/Badges/OBv2p0Final/index.html">Open Badges 
			Specification</a>, from non-profits to major employers to educational institutions at all levels."</i><br>- openbadges.org</i><br><br>For more details visit <a href="https://openbadges.org/get-started/">the Open Badges website.</a></p>
			
			
			<div class="infosubhead"><a name="c_uses"></a>Badge Uses</div>
			<p>There are many Open Badge services in existence for issuing, storing and sharing Open Badges. We will just mention the main badge storing service here.
			
			<p><strong>Note: Existing services do not yet understand our blockchain verified badges. So in order to interact with existing badge services, learners will need to download the 'Traditionally Verified' badge version from their 'My Badges' portfolio page.</strong></p>

			<p>Badges are usually stored in what are known as backpacks. Backpacks give the user complete control over their achievements by allowing them to organize, display 
			and manage their badges in one place. Until very recently Mozilla ran the biggest badge portfolio system called ‘Mozilla Backpack’ 
			(<a href="https://backpack.openbadges.org/">https://backpack.openbadges.org/</a>). Mozilla have now closed their service down and handed over the running of a backpack service to a 
			site called Badgr (<a href="https://support.badgr.com/">https://support.badgr.com/</a>). 
			<p>Badgr backpacks allow someone to store and organize their badges into collections and shared badges or collections with others. Badgr allows a person to share badges in three ways:
			<p style="margin-left:50px;"><strong>1.</strong> Via url links<br>
			<strong>2.</strong>	Via Social media<br>
			<strong>3.</strong>	Via embedding</p>
			<p>For full details please visit: <a href="https://support.badgr.com/portal/kb/articles/sharing-badges-from-badgr">https://support.badgr.com/portal/kb/articles/sharing-badges-from-badgr</a></p>
			<br>
			<img class="infoimage" src="/images/information_pics/fig6.png" width="100%" alt="Badgr Backback help page" title="Badgr Backback help page" /><br>		
			<span class="infocap">Figure 2 – Badgr Backback help page</span><br>
			<p>For more information on Badgr backpacks please visit: <a href="https://support.badgr.com/portal/kb/articles/using-the-badgr-backpack">https://support.badgr.com/portal/kb/articles/using-the-badgr-backpack</a></p>
			<img class="infoimage" src="/images/information_pics/fig7.png" width="100%" alt="Badgr sharing on Social Media help page" title="Badgr sharing on Social Media help page" /><br>		
			<span class="infocap">Figure 3 – Badgr sharing on Social Media help page</span><br>
			<p>For more information of how to share badges on Social Media via Badgr please visit: <a href="https://support.badgr.com/portal/kb/articles/sharing-badges-on-social-media">https://support.badgr.com/portal/kb/articles/sharing-badges-on-social-media</a>
			<br>

			<div class="infosubhead"><a name="c_yourbadges"></a>Your Ioc Badges</div>
			<p>Badge recipients will be able to login to our website and view their IoC badge portfolio. Here they can view the details of any of their badges 
			in our friendly viewer page (see figure 5) and download their badges:</p>
			<img class="infoimage" src="/images/information_pics/fig3.png" width="100%" alt="Main section of the Badge Recipient homepage" title="Main section of the Badge Recipient homepage" /><br>		
			<span class="infocap">Figure 4 – Main section of the Badge Recipient homepage</span>
			<br><br>
			<img class="infoimage" src="/images/information_pics/fig4.png" width="100%" alt="Badge View page with example data" title="Badge View page with example data" /><br>		
			<span class="infocap">Figure 5 – Badge View page with example data</span>
			<br>

			<div class="infosubhead"><a name="c_validators"></a>Badge Validation</div>
			<p>We have created a web page where anyone can come and validate one of our IoC badges. 
			So if you have received a badge you can give it to, say a prospective employer, and they can come to our site and validate that it is a valid IoC badge that was issued to you.
			They must have access to the badge file and they must have separately obtained and confirmed the email address used for the recipient of the badge belongs to you.</p>
			<br>
			<img class="infoimage" src="/images/information_pics/fig5.png" width="100%" alt="IoC Validation webpage" title="IoC Validation webpage" /><br>		
			<span class="infocap">Figure 6 – IoC Validation webpage</span>
			<br>

			<br>
		</div>
	</div>
</div>