<div class="container padbottom">
	<div id="content">
		<div id="mainhead" style="margin-bottom:0;">{{title}}</div>
		<hr class="headingunderline"><br>

		<form>
		<input class="roundBut" style="min-width:300px;min-height:100px;border-radius:50px;font-size:1.2em;" type ="button" value="Manage Badge Recipients" onclick="window.location.href=cfg.proxy_path+'/recipients/manage';"/>
		<input class="roundBut" style="min-width:300px;min-height:100px;border-radius:50px;font-size:1.2em;" type ="button" value="Manage Badge Issuing" onclick="window.location.href=cfg.proxy_path+'/assertions';"/>
		<input class="roundBut" style="min-width:300px;min-height:100px;border-radius:50px;font-size:1.2em;" type ="button" value="View Badges" onclick="window.location.href=cfg.proxy_path+'/badges/issuer';"/>
		<br><br>
		<br><br>
		<!-- input class="roundBut" style="min-width:300px;min-height:100px;border-radius:50px;font-size:1.2em;" type ="button" value="Manage Endorsers" onclick="window.location.href=cfg.proxy_path+'/endorsers/manage';"/>
		<br><br -->

		</form>
	</div> 
</div>