<div class="container padbottom">
	<div id="content">
		<div id="mainhead" style="margin-bottom:0;">Institute of Coding Certification</div>
		<hr class="headingunderline"><br>
		<br>
		<h2>{{{title}}}</h2>
		<p>We appologise for any inconvenience.</p>
	</div>
</div>