<div class="container">

	<div class="mainhead"><span class="mainhead">RDF Dataset verification via Merkle Trees and the Blockchain</span></div>
	<hr class="headingunderline"><br>

	<div class="clearit"></div>
	<br><br>

	<div>If you have any issues with any of these materials please email:<a href="mailto:michelle.bachler@open.ac.uk?subject=ISWS Summer School">michelle.bachler@open.ac.uk</a></div>
	<br>
	<br>
</div>