<div class="container padbottom">
	<div id="contentleft">
		<div id="mainhead" style="text-align:center;margin-bottom:0;">Privacy Policy</div>
		<hr class="headingunderline"><br>

			<p><h3 style="color:black"><span class="privacyheading"></span>Who we are</h3></p>
			<p>Our website address is: {{domain}}</p>
			<h3 style="color:black"><span class="privacyheading"></span>Introduction</h3>
			<p>The Open University respects your privacy and is committed to protecting your personal data.</p>
			<h3 style="color:black"><span class="privacyheading"></span>Cookies</h3>
			<p>When you Sign In to this website we store a cookie with the name <b>token</b> to identify you as a logged in user. It lasts for five hours, if it expires or you delete it, you will have to Sign In again.</p>
			<h3 style="color:black"><span class="privacyheading"></span>How we look after your personal information</h3>
			<p>We are committed to ensuring that your personal information is secure. In order to prevent unauthorised access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect on-line.</p>			
			<h3 style="color:black"><span class="privacyheading"></span>Links to other websites</h3>
			<p>If you follow links to other websites they may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracing your interaction with the embedded content if you have an account and are logged in to that website.</p>
			<!--<h3>Comments</h3>
			<p>When visitors leave comments on the site we collect the data shown in the comments form, and also the visitor’s IP address and browser user agent string to help spam detection.</p>
			<p>An anonymised string created from your email address (also called a hash) may be provided to the Gravatar service to see if you are using it. The Gravatar service privacy policy is available here: https://automattic.com/privacy/. After approval of your comment, your profile picture is visible to the public in the context of your comment.</p>
			<h3>Media</h3>
			<p>If you upload images to the website, you should avoid uploading images with embedded location data (EXIF GPS) included. Visitors to the website can download and extract any location data from images on the website.</p>-->
			<br>
			<br>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>