
<script src="/javascripts/dateformat.js"></script>
<script src="/javascripts/recipients.js"></script>

<div class="container padbottom"">
	<div id="content">
		<div id="mainhead" style="margin-bottom:0;">My Badges</div>
		<hr class="headingunderline"><br>

	    	<br><br>
	    	<div id="portfoilioList" style="margin-left:auto;margin-right:auto">List</div>

	</div>
</div>

