
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

<script src="/lib/dateformat.js"></script>
<script src="/javascripts/recipients.js"></script>

<div class="container padbottom">
	<div id="content">
		<div style="position:relative;">
			<div id="mainhead" style="display:block; margin:auto;">My Badges<a href="/recipients/information/"></div>
			<div style="position:absolute; top:10px; right:0px;"><a href="/recipients/information"><img src="/images/infobut.png" title="View Information about Badges and their uses" /></a></div>
		</div>

		<hr class="headingunderline">
		
		<p style="font-size:12pt"><strong>Note:</strong> Existing external badging services do not yet understand our blockchain verified badges. So in order to interact with these services, like Badgr, you will need to download the 'Traditionally Verified' badge version.</p>

	</div>

	<div id="portfoilioList" style="padding-top:20px;padding-bottom:20px;">
		<center><table id="storedList" class='manageTables' width="100%"></table></center>
	</div>

	<div style="clear:both;"></div>
</div>

