<div id="head">
	<div id="loginarea" onclick="signinpage()">sign in</div>
	<div style="clear:both"></div>
	<span id="headlinks"><a href="/">Home</a></span>
	<span id="headlogo"><a href="https://qualichain-project.eu/" title="QualiChain"><img alt="QualiChain" src="/images/qualichain-logo.png" width="232px" /></a></span>
	
	<div id="j_menu">
		<!-- menu items get populated by javascript -->
	</div>
	<a onclick="jl_menucontrol()">
	<div id="j_control">
		<div id="j_thumb">
			<div class="j_thumbstroke"></div>
			<div class="j_thumbstroke"></div>
			<div class="j_thumbstroke"></div>
		</div>
		<div id="j_cross">
			<div class="j_crossstroke"></div>
			<div class="j_crossstroke2"></div>
		</div>
	</div>
	</a>
</div>