<div id="head">
	<div id="alpha">Alpha Version</div><div style="clear:both"></div>
	<span id="headlinks"><a href="/">Home</a></span>
	<span id="headlogo"><a href="https://qualichain-project.eu/" title="QualiChain"><img alt="QualiChain" src="/images/qualichain-logo.png" width="232px" /></a></span>
</div>