<footer id="footer">
<span class="footlogos"><a href="http://kmi.open.ac.uk"><img src="/images/kmi-logo-white.png" height="46" alt="Knowledge Media Institute" title="Knowledge Media Institute" /></a></span>
<span class="footlogos"><a href="http://www.open.ac.uk"><img src="/images/ou-logo-white.png" height="46" alt="The Open University" title="The Open University" /></a></span> 
<span class="copy">Copyright The Knowledge Media Institute <span style="color:#aaa;padding-left:20px;">Alpha 0.04</span><br><span class="privacy"><a href="/privacy/">privacy</a></span></span>
</footer>